
/*
1. Imports
2. General Rules
3. Mobile Rules
4. Large Screen Rules
*/

/**************************
* 1. Imports 
***************************/
/* @import url('normalize.css'); */
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

/**************************
* 2. General Rules 
***************************/

html {
    background-image: url("/week2/css/checkerboard.jpg");
    background-repeat: repeat;
    
}
body {
    display: flex;
    justify-content: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1vw;
    width: 70%;
    margin: auto;
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Share Tech Mono', monospace;
}
ul {
    list-style-type: none;
}
li, li a {
    text-decoration: none;
}
main {
    background-color: white;
    width: 95%;
    padding: 10px;
    z-index: 0;
    border: 4px #4c96d7 solid;
}
.hidden {
    display: none;
}
button {
    background-color: #4c96d7;
    color: #8d8d8d;
}
/************* 
* Header
**************/
}
header a {
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    color: black;
    font-size: 1.5em;
    margin: auto;
    text-align: end;
}
#page-nav {
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #3a3a3a;
}

/************* 
* Navigation
**************/
#page-nav {
    background-color: #3a3a3a;
}
#page-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
#nav-list li{
    color: white;
    padding: 10px;
    list-style: none;
}
#nav-list li a, #nav-list li a:visited{
    color: white;
}
#nav-list li a:active, #nav-list li a:hover{
    background-color: #4c96d7;
}

/*********** 
* Home Page 
************/


/*** Footer ***/
footer {
    border-top: 4px #3a3a3a solid;
    text-align: center;
}

/**************************
*  3. Mobile Rules 
***************************/
@media only screen and (max-width: 823px) {}

/**************************
* 4. Large Screen Rules 
***************************/
@media only screen and (min-width: 823px) {

    h1 {
        font-size: 3vw;
    }
    #page-nav li {
        font-size: 1vw;
        padding: 20px 10px 20px 10px;
    }
    header section img  {
        max-width: 45%;
        height: 100%;
    }